<div class="inner">
	<%= remote_link(child_eligibilities_url(@child, :model => @eligibility.class), @eligibility.class, :lose_focus => true) %>
	<h3>Edit <%= @eligibility.class.type_name %> Eligibility</h3>

	<%= error_messages_for :eligibility %>
	<div class="indented">
		<% remote_update_form_for @eligibility, :element => @eligibility.class, :url => child_eligibility_url(@child, @eligibility) do -%>
			<%= render :partial => 'form' %>
			<%= submit_tag "Save"%>
		<% end -%>
	</div>
</div>
